html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Everthing above is the reset. DONT CHANGE*/
/*index.html and main layout*/
body {
  font-family: 'PT SANS';
}
.wrapper {
  width: 90%;
  height: 1100px;
  margin: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  /*padding: 5px 10px 10px 10px;*/
  overflow: hidden;

}
header {
  width: auto;
  height: 80px;
  margin-bottom: 40px;
  padding-right: 10px;
  border-bottom: 1px solid #086A81;
}
header img {
  height: 140px;
  width: 120px;
  float: left;
}
header a {
  font-family: mako;
  display: inline;
  float: right;
  font-size: 20px;
  margin: 50px 0 0 20px;
  color: #086A81;
}
header a:first-child {
  margin-right: 20px;
}
header a:hover {
  color: #faae18;
  text-decoration: none;
}
/*login.html*/
#loginwrapper {
  width: 100%;
}
#loginDiv {
    text-align: center;
    width: 350px;
    height: auto;
    margin: auto;
    margin-right: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
#loginDiv input, #loginDiv label {
    font-size: 30px;
    padding-top: 10px;
}
#loginDiv button {
  margin: 10px 0 10px 0;
  background-color: #086A81;
  color: white;
}
#loginDiv button:hover {
  color: #faae18;
}
/*home.html*/
.donorInfoHome {
  display: inline-table;
  float: left;
  width: 35%;
  margin-left: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.donorInfoHome th {
  font-weight: bold;
  font-size: 20px;
}
.homeDataTable {
  margin-top: 0;
  padding: 5px 5px 5px 2px;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.homeDataTable:hover {
background-color: rgba(0, 0, 0, 0.1);
}
#donorName {
  font-size: 20px;
  float: left;
}
#date {
  font-size: 16px;
  margin-bottom: 20px;
  float: right;
}
#donationAmount {
  clear: both;
  font-size: 18px;
  float: left;
}
.table {
  margin-bottom: 5px;
}
#dropDownContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 10px 5px 40px 0;

}
#dropDown {
  float: right;
}
#dropDown button {
  background-color: white;
  /*float: right;*/
  border: none;
  color: black;
}
.upCaret:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.downCaret:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
.donorInfoHome div:active {
background-color: rgba(0, 0, 0, 0.1);
}
#editEmail {
  background-color: #086A81;
  color: white;
  margin-right: 5px;
  }
#edit-modal-button {
  float: right;
  background-color: #086A81;
  color: white;

}
#sendEmail {
  background-color: #EB7536;
  color: white;
}
.donorSearchDiv {
  text-align: center;
  width: 300px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.donorSearchDiv input {
  width: 200px;
  margin: auto;
  font-size: 20px;
}
tr:nth-child(even) {
    background-color: ;
}
/*edit.html*/
.editmain {
  max-width: 100%;
  /*float: left;*/
  margin-top: 100px;
  overflow: auto;
}
.editinputs {
  float: left;
  width: 50%;
  max-width: 600px;
  margin-top: 30px;
}
.table button {
  background-color: white;
  border: none;
}
.editview {
  width: 100%;
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
  margin: auto;
  margin-top: 30px;
  /*overflow: auto;*/
}
.editField {
  width: 620px;
  margin: auto;
  margin-top: 30px;
  overflow: auto;
}
.editModal {
  margin: 10px;
  /*clear: both;*/
  overflow: hidden;
}
.imageHover {
	opacity: 1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.imageHover:hover {
	opacity: .8;
  cursor: pointer;
}
.fieldHover {
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.fieldHover:hover {
  cursor: pointer;
  background-color: #ededed;
  border-radius: 5px;
}
#uploadModalLi {
}
.modalUploadForm {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 200px;
}
.modalUploadForm input {
  color: #086A81;
  margin: 0 0 5px 5px;
  padding-bottom: 10px;
}
.done {
  background-color: rgb(38, 127, 147);
  color: white;
}
#remove {
  background-color: #086A81;
  color: white;
  float: left;
}
#remove:hover {
  background-color: rgb(38, 127, 147);
  color: white;
}
#submit {
  background-color: green;
  color: white;
  float: left;
}
#submit:hover {
  background-color: rgb(63, 219, 28);
  color: white;
}
.imageModalClass {
  width: 225px;
  position: fixed;
    left: 85%;
    /*z-index: 1050;*/
}
.modal-image {
  /*float: left;*/
  /*padding: 10px;*/
  margin: 5px;
  /*border: solid 2px gray;*/
  border-radius: 2px;
  /*margin: 0px auto;*/
  /*-webkit-box-shadow: 0px 0px 7px 4px rgba(130,123,130,1);
  -moz-box-shadow: 0px 0px 7px 4px rgba(130,123,130,1);*/
  box-shadow: 0px 0px 3px 1px rgba(130,123,130,1);
}
/*.center {
  display: inline-block;
}*/
/*.modalImageWrapper {
  text-align: center;
  width: 100%;
}*/
/*.imageModal {
  overflow: scroll;
  max-height: 350px;
  padding: 5px;
}*/
.modalTitle {
  font-size: 1.5em;
  /*text-align: center;*/
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

/*//////////////////Settings Page/////////////////////*/
.settingsMenu {
  display: inline-table;
  float: left;
  width: 35%;
  margin-left: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.settingsPhotoUpload {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 150px;
  padding: 5px 5px 5px 2px;
}
.settingsMenu h1 {
  font-weight: bold;
  font-size: 20px;
}
.settingsMenu img {
  float: right;
}
.settingsPhotoUpload:hover {
background-color: rgba(0, 0, 0, 0.1);
}
.settingsDisplayPhotos {
  width: 100%;
  height: auto;
  overflow: scroll;
}
.settingsDisplayPhotos li {
  float: left;
  margin: 5px;
  display: inline;
}
